body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.zakazi-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
}

    .zakazi-form h2 {
        margin-bottom: 20px;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }

    .form-group input[type="text"],
    .form-group input[type="datetime-local"],
    .form-group select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        background-color: #0056b3;
    }


.kreiraj-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    margin: 20px auto; /* Center form and add margin around it */
}

    .kreiraj-form h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .kreiraj-form .form-group {
        margin-bottom: 15px;
    }

        .kreiraj-form .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        .kreiraj-form .form-group input[type="text"],
        .kreiraj-form .form-group input[type="datetime-local"],
        .kreiraj-form .form-group textarea,
        .kreiraj-form .form-group select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .kreiraj-form button {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px; /* Ensure the button is large enough for readability */
    }

        .kreiraj-form button:hover {
            background-color: #0056b3;
        }
